@media screen and (max-width: 768px) {
    .headnav--one {
        display: none;
    }
    .headnav--two {
        width: 100%;
        justify-content: flex-end;
    }

    .country {
        display: none;
    }

    .footnav {
        flex-direction: column;
        align-items: center;
    }
}